<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
    <main>
      <h1>Benchmarks: </h1>
      <div id="plot-wrapper">
        <div id="plot-overhead"></div><hr>
        <div id="plot-pi_opt"></div><hr>
        <div id="plot-pi"></div><hr>
        <div id="plot-fib_opt"></div><hr>
        <div id="plot-fib"></div><hr>
        <div id="plot-fib_it"></div>
      </div>
    </main>
  </body>
  <script>
    window.onload = () => {

      requestData('Overhead', (benches) => {
        renderPlot('plot-overhead', benches, 'Benchmarks of the interface per-call-overhead')
      })

      requestData('Pi-Optimized', (benches) => {
        renderPlot('plot-pi_opt', benches, 'Benchmarks of an <b>optimized</b> (removed if statements) Pi calculation with the Gregory-Leibniz Series')
      })

      requestData('Pi', (benches) => {
        renderPlot('plot-pi', benches, 'Benchmarks of a Pi calculation with the Gregory-Leibniz Series')
      })

      requestData('Fibonacci-Optimized', (benches) => {
        renderPlot('plot-fib_opt', benches, 'Benchmarks of the <b>optimized</b> calculation of the n-th Fibonacci number based on based Dijkstra\'s method')
      })
      
      requestData('Fibonacci', (benches) => {
        renderPlot('plot-fib', benches, 'Benchmarks of the calculation of the n-th Fibonacci number')
      })

      requestData('Fibonacci-Iterative', (benches) => {
        renderPlot('plot-fib_it', benches, 'Benchmarks of the <b>iterative</b> calculation of the n-th Fibonacci number')
      })
    }

    function requestData(bname, onJson) {
      const xhr = new XMLHttpRequest()
      xhr.onload = () => {
        console.log(xhr)
        if (xhr.status !== 200) return
        console.log(JSON.parse(xhr.response))
        onJson(JSON.parse(xhr.response))
      }
      xhr.open('GET', `/bench?benchid=${bname}`, true);
      xhr.send('')
    }

    function renderPlot(divid, benches, bname) {
      const data = []
      const layout = {
        barmode: 'group',
        yaxis: {
          // type: 'log',
          autorange: true,
          ticksuffix: 'x',
          title: 'Relative Execution Time'
        },
        title: {
          text: bname,
          xref: 'paper',
          x: 0,
        },
        colorway : ['#0f62fe', '#0043ce', '#002d9c', '#001d6c', '#001141']
      }
      const modules = benches.map(e => e.module).filter((m, i, s) => s.indexOf(m) === i)
      console.log('--DEBUG : renderPlot -> benches', benches)
      const nodeTimes = benches.filter(e => e.module === 'Node').sort((a, b) => a.args[0] - b.args[0]).map(e => e.mean)
      for (let module of modules) {
        const moduleData = benches.filter(e => e.module === module).sort((a, b) => a.args[0] - b.args[0])
        data.push({
          x: moduleData.map(e => `n: ${e.args}`),
          y: module !== 'Node' ? moduleData.map((e, i) => (e.mean/nodeTimes[i]).toFixed(2)) : nodeTimes.map(() => 1),
          error_y: {
            type: 'data',
            array: module !== 'Node' ? moduleData.map((e, i) => (e.moe/nodeTimes[i]).toFixed(2)) : nodeTimes.map(() => 0),
            visible: true
          },
          name: module,
          type: 'bar',
          // log_y: true,
          text: moduleData.map(e => e.mean.toExponential(2)),
          textposition: 'auto'
        })
      }
      console.log(data)
      Plotly.newPlot(divid, data, layout, {responsive: true})
    }
  </script>
</html>
